{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}

    <div class="row">
        {% if is_granted('ROLE_USER') %}
        <div class="col-sm-12 col-md-3 m-1">
                <a href="{{ path('task_create') }}" class="btn btn-success"><i class="fas fa-pen"></i> Créer une nouvelle tâche</a>
        </div>
        <div class="col-sm-12 col-md-3 m-1">
            <a href="{{ path('task_list') }}" class="btn btn-info"><i class="far fa-clipboard"></i> Consulter la liste des tâches à faire</a>
        </div>
        <div class="col-sm-12 col-md-3 m-1">
            <a href="{{ path('task_done_list') }}" class="btn btn-secondary"><i class="far fa-check-square"></i> Consulter la liste des tâches terminées</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
