{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-offset-4 col-md-4">
    <div class="row justify-content-md-center">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
        {{ form_end(form) }}

        <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
    </div>
</div>
{% endblock %}
