{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-offset-4 col-md-4">
    <div class="row justify-content-md-center">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
